{% extends "index.html" %}

{% block produk %}
    {% for produk in data_produk %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
            <a href="#">{{ produk.nama_produk }}</a>
            </h4>
            <h5>
                {{ produk.kategori_produk.nama_kategori }}
            </h5>
            <h6>{% load humanize %}
                Rp. {{ produk.harga_produk|intcomma}}
            </h6>
            <h7>
                {{ produk.stok_produk }}
            </h7>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
        <div class="button-buy">
            <a id="paymentButton" data-id="{{produk.harga_produk}}" style="float: right;" href="#" class="paymentButton btn btn-primary" role="button">
                        <button class="btn btn-primary" type="submit" style="background-color: #0069d9">Buy Now</button>
            </a>
        </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}