{% extends "store/index.html "%}

{% block body %}
{% load staticfiles %}
    <div class="col-lg-9">
        {% for produk in data_produk %}
        <div class="card mt-4">
        <img class="card-img-top img-fluid" src="{% static 'media/' %}{{ produk.foto_produk }}" alt="">
        <div class="card-body">
            <h3 class="card-title">{{ produk.nama_produk }} </h3>
            <h4>{{ produk.harga_produk }}</h4>
            <div class="stock">
                <h7 style="color:navy">
                    Stock:  {{ produk.stok_produk }}
                </h7>
              </div>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          </div>
          <div class="card-footer">
              <small>Rating: {{ produk.rating_produk }}</small>
          </div>
        </div>
        </div>
        {% endfor %}

        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Product Reviews
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
        </div>
        </div>
        <!-- /.card -->

    </div>
{% endblock %}